td {
  vertical-align: top;
}

th {
  padding-bottom: 10px;
  border-bottom: 1px dashed #aaa;
  width: 500px;
  font-size: 18px;
}

tr td tr td:hover {
  font-weight: bold;
}

.subtitles th {
  padding-top: 5px;
  text-align: left;
  border: none;
  font-size: 16px;
}

#library, #songQueue {
  padding: 5px;
  width: 500px;
  border: 1px solid #ddd;
}

#library td:first-child {
  text-align: left;
  width: 25%;
}
#library td:nth-child(2) {
  text-align: left;
  width: 70%;
}

#songQueue td:first-child {
  text-align: left;
  width: 25%;
}
#songQueue td:nth-child(2) {
  text-align: left;
  width: 70%;
}

table {
  padding: 20px 10%;
  text-align: center;
}

body div {
  border: 1px solid #eee;
  padding: 10px 0;
  text-align: center;
}