body {
  background-color: #F2EFE9;
}

td {
  vertical-align: top;
}

th {
  padding: 10px 0;
  border-bottom: 1px dashed #aaa;
  width: 500px;
  font-size: 18px;
}

tr td tr td:hover {
  font-weight: bold;
}

.subtitles th {
  padding-top: 5px;
  text-align: left;
  border: none;
  font-size: 16px;
}

#library, #songQueue {
  padding: 5px;
  width: 500px;
  border: 1px solid #ddd;
  background-color: #fff;
}

#library tr {
}

#library td:first-child {
  text-align: left;
  width: 25%;
}
#library td:nth-child(2) {
  text-align: left;
  width: 70%;
}

#songQueue td:first-child {
  text-align: left;
  width: 25%;
}
#songQueue td:nth-child(2) {
  text-align: left;
  width: 70%;
}

table {
  margin: 10px 5%;
  text-align: center;
  border-spacing: 30px 5px;
}

body div {
  padding: 10px 0;
  text-align: center;
}

#songName {
  font-style: italic;
  color: #8A8987;
}